.nav{
    
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    padding: 0 271px;
    height: 122.36px;
 

}
.nav-logo{
 
}

.logo{

}
.space{
 flex-grow: 1;
}
.nav-list{
    
 list-style: none;
 display: flex;
}
.nav-item{

}
.nav-link{
 text-decoration: none;
 font-size: 15px;
text-transform: uppercase;
padding: 10px 20px;
color:#FFF;
transition: all 0.3s ease;
font-weight: 600;
}
